{% load static %}
{% include 'header.html' %}

{% block body %}


<div class="card-group mt-3 mx-5" style="gap: 1rem;">
  {% for post in page_obj %}
    <div class="card align-items-center rounded my-4">
      {% if post.image %}
      <img src="{{ post.image.url }}" class="card-img-top py-4 w-75" alt="...">
      {% else %}
      <img src="{% static 'img/cat-6.jpg' %}" class="card-img-top py-4 w-75" alt="...">
      {% endif %}
      <div class="card-body w-100">
        <h5 class="card-title" id="card-user">{{ post.user.get_full_name }}</h5>
        <p class="card-text" id="card-content">{{ post.content }}</p>
        {% comment %} {{ post.title }} {% endcomment %}
        <p class="card-text" id="card-create"><small class="text-muted">{{ post.create_at }}</small></p>
      </div>
      <div class="text-right w-100 p-2">
        {% comment %} <a class="btn btn-outline-warning rounded align-items-center hidden-arrow" href="/post_detail/{{post.id}}" value="{{post.id}}" id="navbarDropdownMenuAvatar" type="button" data-toggle="modal" data-target="#containerdetail">DETAIL</a> {% endcomment %}

        <a class="btn btn-outline-warning rounded align-items-center hidden-arrow" id="card-detail" href="/post_detail/{{post.id}}">DETAIL</a>
      </div>
    </div>
  {% endfor %}
</div>

<div class="pagination justify-content-center">
  <span class="step-links">
      {% if page_obj.has_previous %}
          {% comment %} <a class="btn btnnavbar text-dark d-blo" style="display: inline-block;" href="?page={{ page_obj.previous_page_number }}">&laquo;</a> {% endcomment %}

          <a class="btn btnnavbar text-warning" style="display: inline-flex; width: 35px !important; height: 35px !important;" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"></i>
          </a>
      {% endif %}

      <span class="current mx-2">
          Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
          {% comment %} <a class="btn btnnavbar text-dark" style="display: inline-flex;" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a> {% endcomment %}

          <a class="btn btnnavbar text-warning" style="display: inline-flex; width: 35px !important; height: 35px !important;" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i>
          </a>
      {% endif %}
  </span>
</div>


{% include "post_detail_modal.html" %}

{% endblock %}