{% load static %}


{% load static %}

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5 text-center" id="footer">
        <div class="row px-xl-5 pt-5" id="footer_content">
            <div class="col-lg-6 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">FULL - STACK</h5>
                <p class="mb-4">This is my full-stack site that I built using the Python Django framework. I completed it in an average of 10 days.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Turkey</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i><a href="mailto:akyzozcan@gmail.com">akyzozcan@gmail.com</a></p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+90 123 456 4121</p>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                        <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Me</h6>
                        <div class="d-flex justify-content-center mt-4">
                            <a class="btn btnnavbar btn-square mr-4" href="https://instagram.com/ozcanakyuz_"><i class="fab fa-instagram"></i></a>
                            <a class="btn btnnavbar btn-square mr-4" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btnnavbar btn-square mr-4" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btnnavbar btn-square" href="#"><i class="fab fa-linkedin-in"></i></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; All Rights Reserved. Designed
                    by
                    <a class="text-primary" href="https://instagram.com/ozcanakyuz_" target="_blank">Ozcan AKYUZ</a>
                </p>
            </div>

        </div>
    </div>
    <!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btnnavbar btn-primary back-to-top "><i class="fa fa-angle-double-up"></i></a>

<!-- DRIVER JS -->
<script src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js"></script>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>