{% load static %}

{% block body %}

{% comment %}!-- Log In Start --> {% endcomment %}
<div class="containerlog m-auto modal fade" id="containerlog" style="max-height: 520px;">
    {% comment %} ! SIGN UP {% endcomment %}
	<div class="form-containerlog sign-up-containerlog">
		<form action="" method="POST">
            {% csrf_token %}
			<h1>Create Account</h1>
			<div class="social-containerlog">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			{% comment %}! <input type="text" name="user" placeholder="First Name - Last Name"/> {% endcomment %}
			{% comment %} <input type="text" name="username" placeholder="Username"/>
			<input type="email" name="email" placeholder="Email"/>
			<input type="password" name="password1" placeholder="Password"/> {% endcomment %}
			{% comment %} <input type="password" name="password1" placeholder="Password Retry"/> {% endcomment %}
			{% comment %} <input type="password" name="password2" placeholder="Password Retry II"/>
			<button type="submit" name="signup_submit">Sign Up</button> {% endcomment %}
			{% comment %} {{ signup_form.as_p }}	 {% endcomment %}
			{{ signup_form|crispy }}
		</form>
	</div>

	{% comment %} ! LOG IN  {% endcomment %}
	<div class="form-containerlog sign-in-containerlog">
		<form action"{% url 'index' %}" method="POST">
            {% csrf_token %}
			<h1>Sign in</h1>
			<div class="social-containerlog">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="text" name="username" placeholder="Username"/>
			<input type="password" name="password" placeholder="Password"/>
			<a href="" class="my-2">Forgot your password?</a>
			<button type="submit" name="login_submit">Sign In</button>
		</form>
	</div>

	<div class="overlay-containerlog">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
{% comment %} !-- Log In End --> {% endcomment %}


{% endblock %}
