{% load static %}
{% load active_link_tags %}

{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-expand gradient-custom px-5">
    <!-- Container wrapper -->
    <div class="container-fluid" id="full-stack">
        <!-- Toggle button -->
        {% comment %} <button
            class="navbar-toggler text-white"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button> {% endcomment %}

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/" style="margin-right: 0">
                <h3 class="pt-1 mb-1 text-light border-bottom">FULL-STACK</h3>
            </a>
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
    {% comment %} ! SEARCH KISMI {% endcomment %}


    <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <div class="search-box">
            <button class="btn btnnavbar btn-search" type="button"><i class="fas fa-search"></i></button>
            
            <input type="text" name="query" class="input-search" placeholder="Type to Search...">
        </div>
    </form>
    <div class="d-flex align-items-center frame-right border-bottom">
        <!-- Icon -->
        {% with request.resolver_match.url_name as url_name %}
            {% comment %} {% if url.name == 'index' %} {% endcomment %}
                <a class="text-reset me-3 btn btnnavbar" id="information" href="#" type="button" 
                {% if url_name == 'index' %}
                    onclick="homeInfo()"
                {% elif url_name == 'post_detail' %}
                    onclick="detailInfo()"
                {% elif url_name == 'search' %}
                    onclick="searchInfo()"
                {% else %}

                {% endif %}>
                    <i class="fa-solid fa-info" style="color:#ee4056;"></i>
                </a>
        {% endwith %}
            <!-- Notifications -->
            <div class="dropdownnotif">
                <a class="text-reset me-3 dropbtnnotif hidden-arrow btn btnnavbar" href="#" onclick="myFunctionNotif()" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bell" style="color:#65d838;"></i>
                    {% comment %} <span class="badge rounded-pill badge-notification bg-danger">1</span> {% endcomment %}
                </a>
                <div id="myDropdownNotif" class="dropdown-content-notif mt-3 rounded">
                    <a href="#home">Some news</a>
                    <a href="#about">Another news</a>
                    <a href="#contact">Something else here</a>
                </div>
            </div>
            <!-- Avatar -->
            {%  if user.id is not None %}
            <div class="dropdown" id="login-signup">
                <a class="dropbtn d-flex align-items-center hidden-arrow btnnavbar" href="#" onclick="myFunction()" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    {% if profile.image %}
                    <img src="{{ profile.image.url }}" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                    {% else %}
                    <img src="" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" alt="NO PHOTO!" />
                    {% endif %}
                </a>
                <div id="myDropdown" class="dropdown-content mt-3 rounded">
                    <a href="/user">Profile</a>
                    <a href="/user/post">My Posts</a>
                    <a href="/user/comments">My Comments</a>
                    <a href="/user/settings">Settings</a>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
            {% else %}
            <div class="dropdown" id="login-signup">
                <a class="dropbtn d-flex align-items-center hidden-arrow btnnavbar" href="#" id="navbarDropdownMenuAvatar" type="button" data-toggle="modal" data-target="#containerlog">
                    <i class="fa-regular fa-user text-dark"></i>
                </a>
            </div>
            {% endif %}
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->

{% if messages and user.id is not None %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}} rounded shadow-lg m-auto float-right" role="alert" style="position:unset; z-index: 1; color: black;">
            {{ message }}
        </div>
    {% endfor %}
    {% else %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} rounded shadow-lg w-25" role="alert" style="position:absolute; z-index: 1; color: black; opacity: .8;">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

{% include 'login.html' %}

{% endblock %}
