{% extends "base.html" %}
{% load static %}

{% block body %}

<!-- Header -->
<header class="mb-4">
    <div class="header m-auto">
        <div class="container" style="position: relative;">
            <h2 class="text-light px-2 m-auto border-bottom" id="navbar-text">POST DETAIL - "{{ post_detail.title }}"</h2>
        </div>
    </div>
</header>
<!-- Header -->

{% comment %}!-- Card Detail --> {% endcomment %}
<div class="containerlog m-auto px-3" id="containerdetail">
    <div class="card align-items-center rounded my-4" style="border: none;">
        <img src="{{ post_detail.image.url }}" class="card-img-top" alt="NO PHOTO!!">
    </div>
    <div class="card-body w-100 pb-3">
        <h5 class="card-title">{{ post_detail.user.get_full_name }}</h5>
        <p class="card-text">{{ post_detail.content }}</p>
        <p class="card-text"><small class="text-muted">{{ post_detail.create_at }}</small></p>
    </div>
</div>

{% comment %} ! COMMENTS {% endcomment %}
{% for comment in comments %}
<div class="containerlog m-auto px-4 py-3" style="margin-top: 1rem !important;" >
    <div class="media-body">
            <h6 class="text-muted"><i>{{ comment.create_at }}</i></h6>
        <div class="media-body">
            <div class="body-img d-flex mt-3">
                <img src="{{ comment.user.userprofile.image.url }}" alt="Image" class="mr-3 mt-1 rounded-circle mb-3" style="width:60px; height: 60px;">
                <div class="body-text" style="display: flex !important; justify-content: space-around; flex-direction: column !important;">
                    <h4>{{ comment.user.get_full_name }}</h4>
                    <p>{{ comment.comment }}</p>
                </div>
            </div>
            <div class="media-text" style="display: flex !important; flex-direction: row-reverse;">
                <a type="text" data-toggle="collapse" data-target="#reply{{comment.id}}" class="btn btn-success rounded shadow-sm " href="">Reply</a><br>
            </div>
            <div id="reply{{comment.id}}" class="collapse in w-100">
                <form method="post" action="/replycomment/{{ comment.id }}"> 
                    {% csrf_token %}
                    <div class="form-group mt-2">
                        <label for="message">Your Message*</label>
                        <textarea id="message" cols="30" rows="5" class="form-control" name="repcomment"></textarea>
                    </div>
                    <div class="form-group">
                    {% if user.id is not None %}
                        <input type="submit" value="Reply" class="btn btn-success float-right rounded shadow-sm ml-2">
                    {% else %}
                    <a href="#" type="button" data-toggle="modal" data-target="#containerlog"><i class="fa-regular fa-user text-dark px-2"></i>You must be logged in to post a review</a>
                    {% endif %} 
                    </div>
                </form>
            </div>
        </div>
        <hr>
        {% for repcomment in comment.replycomment_set.all %}
            <div class="media bg-light my-4 px-4 rounded">
                    <img src="{{ repcomment.user.userprofile.image.url }}" alt="Image" class="mr-3 mt-1 rounded-circle" style="width:60px; height: 60px;">
                <div class="media-body border-bottom" style="display: flex; flex-direction: column;">
                    <h4 class= "h5">{{ repcomment.user.get_full_name }} <small><i class="text-muted"> - {{ repcomment.create_at }}</i></small></h4>
                    <p>{{ repcomment.repcomment }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
<div class="containerlog m-auto p-3" style="margin-top: 1rem !important;">
    <form action="/addcomment/{{ post_detail.id }}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="message">Your Message*</label>
            <textarea id="message" cols="30" rows="5" name="comment" class="form-control"></textarea>
        </div>
        {% comment %} <div class="form-group">
            <label for="subject">Subject*</label>
            <input type="text" class="form-control" id="message" name="subject">
        </div>
        <div class="form-group">
            <label for="name">Your Name*</label>
            <input type="text" name="user" class="form-control" id="name">
        </div> {% endcomment %}
        <div class="form-group mb-0">
        {% if user.id is not None %}
            <input type="submit" value="Leave Your Review" class="btn btn-outline-success px-3 mt-2 rounded shadow-sm float-right">
        {% else %}
            <a href="#" type="button" data-toggle="modal" data-target="#containerlog"><i class="fa-regular fa-user text-dark px-2"></i>You must be logged in to post a review</a>
        {% endif %} 
        </div>
    </form>
</div>
{% comment %} !-- Card Detail --> {% endcomment %}

{% include 'login.html' %}

{% endblock %}