.gradient-custom {
  /* fallback for old browsers */
  background: rgb(106, 17, 203);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(199, 147, 255, 0.9));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(199, 147, 255, 0.9));;
}

/* now add CSS code */

body {
  background: rgb(106, 17, 203);
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(199, 147, 255, 0.9));;
  background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(199, 147, 255, 0.9));;
}

/* ! NAVBAR RIGHT  */
h1{
  position: relative;
  text-align: center;
  color: #353535;
  font-family: 'Quicksand', sans-serif;
  bottom: 30px;
}
h1::before{
  position: absolute;
  content: "";
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: orange;
}
.frame{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 350px;
  position: relative;
  box-shadow: -7px -7px 20px #fff9,
              -4px -4px 5px 0px #fff9,
              7px 7px 20px 0px #0001,
              inset 0px 0px 0px 0px #fff9,
              inset 0px 0px 0px 0px #0001,
              inset 0px 0px 0px 0px #fff9,
              inset 0px 0px 0px 0px #0001 ;

              transition: box-shadow 0.6s cubic-bezier(0.79,0.21,0.06,0.81);
              border-radius: 10px;
}

.frame-right{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 200px;
  position: relative;
  transition: box-shadow 0.6s cubic-bezier(0.79,0.21,0.06,0.81);
  border-radius: 10px;
}

.btnnavbar{
  height: 40px;
  width: 40px;
  border-radius: 150px;
  background: #e0e5ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
  box-shadow:  -7px -7px 20px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0001,
  4px 4px 5px 0px #0001,
  inset 0px 0px 0px 0px #fff9,
  inset 0px 0px 0px 0px #0001,
  inset 0px 0px 0px 0px #fff9,
  inset 0px 0px 0px 0px #0001 ;
transition: box-shadow 0.5s cubic-bezier(0.79,0.21,0.06,0.81);
font-size: 16px;
color: rgba(42,52,84,1);
}  
/* active button */
.btnnavbar:active{
  box-shadow: 4px -4px 6px 0px rgba(255,255,255,0.5),
              -4px -4px 6px 0px rgba(116,125,136,0.2),
              inset -4px -4px 6px 0px rgba(255,255,255,0.5),
              inset 4px 4px 6px 0px rgba(116,125,136,0.3);
}


.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownnotif {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  right: .1px;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 170px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content-notif {
  display: none;
  right: -5rem;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-notif a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.dropdownnotif a:hover {background-color: #ddd;}

.show {display: block;}

/* search */
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-right: 1rem;
}
.input-search{
  height: 40px;
  width: 40px;
  border-style: none;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 40px;
  height: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  color:#0bc6d7 ;
  pointer-events: painted;  
  border-radius: 150px;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
  box-shadow:  -7px -7px 20px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0001,
  4px 4px 5px 0px #0001,
  inset 0px 0px 0px 0px #fff9,
  inset 0px 0px 0px 0px #0001,
  inset 0px 0px 0px 0px #fff9,
  inset 0px 0px 0px 0px #0001 ;
  transition: box-shadow 0.5s cubic-bezier(0.79,0.21,0.06,0.81);
  text-decoration: none; 
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* img */
div > img {
  max-width: 12rem;
}

.card-group .card:hover{
  box-shadow: 0px 0px 35px 5px rgba(255, 61, 61, 0.626);
}