{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- Header -->
<header class="mb-4">
    <div class="header m-auto">
        <div class="container" style="position: relative;">
            <h2 class="text-light px-2 m-auto border-bottom" id="navbar-text">MY POSTS</h2>
        </div>
    </div>
</header>
<!-- Header -->


<div class="text-center my-4">
  <a class="btn btn-primary rounded px-5 py-3 rounded text-light align-items-center hidden-arrow" href="/post_detail/{{post.id}}" value="{{post.id}}" id="navbarDropdownMenuAvatar" type="button" data-toggle="modal" data-target="#containerdetail">ADD</a>
</div>

<div class="card-group mx-5" style="gap: 1rem; position: static !important;">
    {% for post in posts %}
      <div class="card align-items-center rounded mb-3">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top py-4 w-75" alt="...">
        {% else %}
        <img src="{% static 'img/cat-6.jpg' %}" class="card-img-top py-4 w-75" alt="...">
        {% endif %}
        <div class="card-body w-100">
          <div class="d-flex flex-row-reverse justify-content-between">
            <p class="card-text p-2 rounded 
                {% if post.status == 'True' %}
                bg-success
                {% elif post.status == 'False' %}
                bg-danger
                {% else %}
                bg-warning
                {% endif %}">
                {{ post.status }}
            </p>
            <h5 class="card-title">{{ post.user.get_full_name }}</h5>
        </div>
          <p class="card-text">{{ post.content }}</p>
          <p class="card-text"><small class="text-muted">{{ post.create_at }}</small></p>
        </div>
        <div class="text-center w-100 p-2">
          <a href="deletepost/{{ post.id }}" onclick="return confirm('Will be Delete ! Are you sure?')"><button class="btn mt-2 btn-outline-danger rounded">REMOVE</button></a>
          <a class="btn mt-2 btn-outline-success rounded align-items-center hidden-arrow mx-2" href="/post_detail/{{post.id}}" value="{{post.id}}" type="button" data-toggle="modal" data-target="#postsupdate">UPDATE</a>
          <a class="btn mt-2 btn-outline-warning rounded align-items-center hidden-arrow" href="/post_detail/{{post.id}}">DETAIL</a>
        </div>
      </div>
    {% endfor %}
</div>

{% include 'user_newpost_modal.html' %}
{% include 'user_posts_update.html' %}


{% endblock %}