{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- Header -->
<header>
    <div class="header m-auto">
        <div class="container" style="position: relative;">
            <h2 class="text-light px-2 m-auto border-bottom" id="navbar-text">USER PROFILE SETTINGS</h2>
        </div>
    </div>
</header>
<!-- Header -->

<div class="setting mt-4 d-flex justify-content-center text-center">
    <form method="post" enctype="multipart/form-data" class="border p-4 rounded shadow-lg">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <div class="form-group">
            <button class="btn btn-outline-success rounded py-2" type="submit">Save changes</button>
        </div>
      </form>
</div>


{% endblock %}


{% comment %} {% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- Header -->
<header>
    <div class="header m-auto">
        <div class="container" style="position: relative;">
            <h2 class="text-light px-2 m-auto border-bottom" id="navbar-text">USER SETTINGS</h2>
        </div>
    </div>
</header>
<!-- Header -->

<!-- Update Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-12 table-responsive m-auto">
           <form method="POST" enctype = "multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ user_form.as_p  }}
                    <p>--------------------------------------------------------</p>
                    {{ profile_form.as_p  }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-success rounded py-2" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Update End -->

{% endblock %} {% endcomment %}


