{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- Header -->
<header class="mb-4">
    <div class="header m-auto">
        <div class="container" style="position: relative;">
            <h2 class="text-light px-2 m-auto border-bottom" id="navbar-text">MY POSTS</h2>
        </div>
    </div>
</header>
<!-- Header -->


<div class="text-center my-4">
    <a href="/user/newpost" class="btn btn-primary px-5 py-3 text-light"> ADD </a>
</div>
<div class="card-group mx-5 mt-5" style="gap: 1rem; position: static !important;">
    {% for post in posts %}
      <div class="card align-items-center rounded">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top py-4 w-75" alt="...">
        {% else %}
        <img src="{% static 'img/cat-6.jpg' %}" class="card-img-top py-4 w-75" alt="...">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ post.user.get_full_name }}</h5>
          {% comment %}* {{ post.title }} {% endcomment %}
          <p class="card-text">{{ post.content }}</p>
          <p class="card-text"><small class="text-muted">{{ post.create_at }}</small></p>
        </div>
        <btn class="btn btn-outline-warning rounded float-left">Detail..</btn>
        <a href="deletepost/{{ post.id }}" onclick="return confirm('Will be Delete ! Are you sure?')"><button class="btn btn-outline-danger rounded float-right">Remove</button></a>
      </div>
      {% endfor %}
  </div>

{% endblock %}