{% load static %}

{% block body %}

<div class="modal fade bd-example-modal-lg mt-2" id="containereditprofile" tabindex="-1" role="dialog" aria-labelledby="containerdetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content rounded">
        <div class="modal-header">
          <h5 class="modal-title" id="containerdetailLabel">PROFILE EDIT</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <button class="btn btn-success rounded py-2 float-right" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-info rounded px-3" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

{% endblock  %}