{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- Header -->
<header>
    <div class="header m-auto">
        <div class="container" style="position: relative;">
            <h2 class="text-light px-2 m-auto border-bottom" id="navbar-text">USER PROFILE</h2>
        </div>
    </div>
</header>
<!-- Header -->

<table class="table table-bordered text-center rounded shadow-lg mt-5 w-75" id="user_profile" style="margin: auto;">
    <thead class="bg-secondary text-dark">
        <tr>
            <th class="user_profile_responsive_600">Profile Photo</th>
            <th class="user_profile_responsive_600">Name</th>
            <th class="user_profile_responsive_600">E Mail</th>
            <th class="user_profile_responsive">Phone</th>
            <th class="user_profile_responsive">Address</th>
            <th class="user_profile_responsive">City</th>
            <th class="user_profile_responsive_600">Process</th>
        </tr>
    </thead>
    <tbody class="align-middle">
        <tr>
            {% if profile.image %}
            <td class="align-middle"><img src="{{ profile.image.url }}" alt="..." style="width: 100px;"></td>
            {% else %}
            <td class="align-middle"><img src="" alt="NO PHOTO!" style="width: 100px;"></td>
            {% endif %}
            <td class="align-middle user_profile_responsive_600">{{ profile.user.get_full_name }}</td>
            <td class="align-middle user_profile_responsive_600">{{ profile.user.email }}</td>
            <td class="align-middle user_profile_responsive">{{ profile.phone }}</td>
            <td class="align-middle user_profile_responsive">{{ profile.address }}</td>
            <td class="align-middle user_profile_responsive">{{ profile.city }}</td>
            <td class="align-middle">
                <a class="btn btn-primary rounded px-4 py-2 rounded text-light align-items-center hidden-arrow" id="navbarDropdownEditProfile" type="button" data-toggle="modal" data-target="#containereditprofile">Edit Profile</a>
                <hr>
                <a class="btn btn-danger rounded px-3 py-2 rounded text-light align-items-center hidden-arrow" id="navbarDropdownChangePassword" type="button" data-toggle="modal" data-target="#containerchangepassword">Change Password</a>
                {% comment %} <a class="btn btn-danger rounded rounded align-items-center hidden-arrow" href="/user/settings">Change Password</a> {% endcomment %}
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center my-4">

  </div>

  {% include 'user_settings_modal.html' %}
  {% include 'user_password_modal.html' %}

{% endblock %}