{% extends "base.html" %}
{% load static %}

{% block body %}

{% comment %} ! {% endcomment %}

{% comment %} ! {% endcomment %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">UPDATE - {{ profile.user.get_full_name }}</h5>
    </div>
      <div class="modal-body">

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          
          <div class="form-group">
            <button class="btn btn-outline-success rounded py-2" type="submit">Save Changes</button>
        </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}